FQuiz.json
{
  "name": "QuizTools",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e67a83fc-783c-4ca6-9ab7-11605bd27f2f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        540,
        0
      ],
      "id": "42d3896b-5066-42ac-b7e9-fc66ae67dbe9",
      "name": "Webhook",
      "webhookId": "e67a83fc-783c-4ca6-9ab7-11605bd27f2f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1560,
        180
      ],
      "id": "460c6c06-7ad4-4942-b118-e1df64183210",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Kfde31oscYghSi8Y",
          "name": "OpenAi Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output.quiz }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1980,
        0
      ],
      "id": "454117a6-d60c-4c86-b95f-423e8701384f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n        \"quiz\": [\n            {\n                \"id\": 1,\n                \"pregunta\": \"¿Texto de la pregunta?\",\n                \"respuesta\": \"Texto de la respuesta\"\n            }\n        ]\n    }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1780,
        180
      ],
      "id": "35568db8-09c6-488f-809b-41fa2e311ceb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0].text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Rol:\nEres un generador de preguntas tipo quiz especializado en crear contenido educativo en español basado en archivos proporcionados por el usuario.\n\nReglas:\n\nCrea preguntas en español basadas exclusivamente en el contenido del archivo recibido.\nProporciona las respuestas correctas junto con las preguntas.\nDevuelve las preguntas y respuestas en formato JSON simple.\n\n    El formato del JSON debe ser:\n\n    {\n        \"quiz\": [\n            {\n                \"id\": 1,\n                \"pregunta\": \"¿Texto de la pregunta?\",\n                \"respuesta\": \"Texto de la respuesta\"\n            }\n        ]\n    }\n\nNo generes contenido adicional ni agregues explicaciones.\nMantén un nivel de lenguaje claro y directo, adecuado para el tema tratado en el archivo.\n\nAclaraciones:\nEl contenido debe estar completamente en español.\nSi el archivo no contiene suficiente información para generar preguntas, indica que el contenido no es suficiente y no generes un JSON vacío.\nCada pregunta debe estar relacionada con un concepto, hecho, o idea principal del archivo.\n\nEjemplo:\nArchivo recibido:\n\"La Revolución Francesa comenzó en 1789 y marcó el fin de la monarquía absoluta en Francia. Durante este período, figuras como Robespierre y Napoleón Bonaparte tuvieron roles destacados.\" \n\nJSON devuelto:\n{\n    \"quiz\": [\n        {\n            \"id\": 1,\n            \"pregunta\": \"¿En qué año comenzó la Revolución Francesa?\",\n            \"respuesta\": \"1789\"\n        },\n        {\n            \"id\": 2,\n            \"pregunta\": \"¿Qué sistema político terminó con la Revolución Francesa?\",\n            \"respuesta\": \"La monarquía absoluta\"\n        },\n        {\n            \"id\": 3,\n            \"pregunta\": \"¿Quiénes fueron figuras destacadas durante la Revolución Francesa?\",\n            \"respuesta\": \"Robespierre y Napoleón Bonaparte\"\n        }\n    ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1580,
        0
      ],
      "id": "b5e655cf-673f-479f-99f1-88d1d9c7db35",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1060,
        -160
      ],
      "id": "70a343e0-9e7b-4db5-8fe6-fe596c3e90f1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$input.item.binary.files.mimeType}}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "befd9b91-a5cf-470f-8a24-c4cb56c63693"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f5c61c77-bdfe-41d7-916d-addfde89eb5a",
                    "leftValue": "={{$input.item.binary.files.mimeType}}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e28a6679-0044-49ad-a06d-cb13ddb7cdd7",
                    "leftValue": "={{$input.item.binary.files.mimeType}}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        740,
        0
      ],
      "id": "9fe01802-0bbe-4682-b67d-bd78456d13a2",
      "name": "Switch"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1340,
        0
      ],
      "id": "30ce5e8b-9959-4831-9941-7aaf68060f77",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "files",
        "destinationKey": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1060,
        0
      ],
      "id": "2822ab59-bc80-4056-975c-78b7e4a5170f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "binaryPropertyName": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1060,
        160
      ],
      "id": "21b1d145-c13d-4cd6-bddb-7676ea10bb59",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "content": "## Input",
        "height": 200,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        -60
      ],
      "typeVersion": 1,
      "id": "d6a8e755-7b2e-496a-bffa-cc3199129afb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## output",
        "height": 200,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        -60
      ],
      "typeVersion": 1,
      "id": "dd14c7b7-28b7-4971-a5c9-6fc5dee0b27a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Manipulacion datos",
        "height": 500,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -180
      ],
      "typeVersion": 1,
      "id": "90572e62-4c3b-4567-884d-3c9681bee08d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Crea los quiz !",
        "height": 380,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1480,
        -60
      ],
      "typeVersion": 1,
      "id": "ed2c8ca4-b397-4148-bbda-d1c86e67915c",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2bc72ce-9b35-4244-a117-9fd8b9f77d3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e8733bb91ee34067b78c056d08ecae9dc280c96e1d712836f355f15f3f949a2"
  },
  "id": "JPwn5Q6ZTSKBstUD",
  "tags": []
}